## Growth rate from airport traffic data

Import the Australian Air Traffic dataset from `github` repository into a `pandas` dataframe. Note this reads in the `.csv` version of the dataset directly from `github`.

In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

# read-in the dataset from github into a pandas dataframe
air_traffic_df = pd.read_csv('https://raw.githubusercontent.com/xbr209/tutorials/master/Australian_air_traffic.csv', \
                     sep=',')

# print out the pandas dataframe to screen
air_traffic_df

,Airport,Year,Month,Date,Domestic_Passengers,International_Passengers,Total_Passengers
0,Adelaide,2009,1,1/1/09,517632,45113,562745
1,Adelaide,2009,2,1/2/09,466920,36184,503104
2,Adelaide,2009,3,1/3/09,565261,37620,602881
3,Adelaide,2009,4,1/4/09,555522,41440,596962
4,Adelaide,2009,5,1/5/09,517203,36406,553609
5,Adelaide,2009,6,1/6/09,484873,37129,522002
6,Adelaide,2009,7,1/7/09,542166,45352,587518
7,Adelaide,2009,8,1/8/09,538835,40627,579462
8,Adelaide,2009,9,1/9/09,531861,44738,576599
9,Adelaide,2009,10,1/10/09,561466,47040,608506
10,Adelaide,2009,11,1/11/09,531518,43449,574967
11,Adelaide,2009,12,1/12/09,527091,46301,573392
12,Adelaide,2010,1,1/1/10,519063,48805,567868
13,Adelaide,2010,2,1/2/10,499819,38282,538101
14,Adelaide,2010,3,1/3/10,586946,42695,629641
15,Adelaide,2010,4,1/4/10,586710,45420,632130
16,Adelaide,2010,5,1/5/10,541978,39331,581309
17,Adelaide,2010,6,1/6/10,524575,41441,566016
18,Adelaide,2010,7,1/7/10,590676,47178,637854
19,Adelaide,2010,8,1/8/10,567307,43369,610676
20,Adelaide,2010,9,1/9/10,569972,45753,615725
21,Adelaide,2010,10,1/10/10,614845,46941,661786
22,Adelaide,2010,11,1/11/10,568388,44046,612434
23,Adelaide,2010,12,1/12/10,587933,49131,637064
24,Adelaide,2011,1,1/1/11,549241,49494,598735
25,Adelaide,2011,2,1/2/11,500762,40101,540863
26,Adelaide,2011,3,1/3/11,589089,43138,632227
27,Adelaide,2011,4,1/4/11,569555,48782,618337
28,Adelaide,2011,5,1/5/11,548098,45314,593412
29,Adelaide,2011,6,1/6/11,475053,44600,519653
...,...,...,...,...,...,...,...
2532,All Australian Airports,2016,9,1/9/16,10058464,3175613,13234077
2533,All Australian Airports,2016,10,1/10/16,10420118,3225758,13645876
2534,All Australian Airports,2016,11,1/11/16,10043856,3025559,13069415
2535,All Australian Airports,2016,12,1/12/16,10216170,3657618,13873788
2536,All Australian Airports,2017,1,1/1/17,9887058,3802113,13689171
2537,All Australian Airports,2017,2,1/2/17,8653900,2970635,11624535
2538,All Australian Airports,2017,3,1/3/17,9942442,3059339,13001781
2539,All Australian Airports,2017,4,1/4/17,9815284,3307826,13123110
2540,All Australian Airports,2017,5,1/5/17,9423080,2871230,12294310
2541,All Australian Airports,2017,6,1/6/17,9322072,3094393,12416465
2542,All Australian Airports,2017,7,1/7/17,10537100,3540914,14078014
2543,All Australian Airports,2017,8,1/8/17,9893950,3250087,13144037
2544,All Australian Airports,2017,9,1/9/17,10072534,3330398,13402932
2545,All Australian Airports,2017,10,1/10/17,10767902,3369928,14137830
2546,All Australian Airports,2017,11,1/11/17,10361670,3191909,13553579
2547,All Australian Airports,2017,12,1/12/17,10420156,3826935,14247091
2548,All Australian Airports,2018,1,1/1/18,10087998,3885401,13973399
2549,All Australian Airports,2018,2,1/2/18,9009336,3187620,12196956
2550,All Australian Airports,2018,3,1/3/18,10381216,3370279,13751495
2551,All Australian Airports,2018,4,1/4/18,10079632,3362133,13441765
2552,All Australian Airports,2018,5,1/5/18,9645110,3026652,12671762
2553,All Australian Airports,2018,6,1/6/18,9351292,3276906,12628198
2554,All Australian Airports,2018,7,1/7/18,10794498,3711115,14505613
2555,All Australian Airports,2018,8,1/8/18,10286610,3469473,13756083
2556,All Australian Airports,2018,9,1/9/18,10080778,3462722,13543500
2557,All Australian Airports,2018,10,1/10/18,10904946,3547757,14452703
2558,All Australian Airports,2018,11,1/11/18,10372794,3324676,13697470
2559,All Australian Airports,2018,12,1/12/18,10203362,3950579,14153941
2560,All Australian Airports,2019,1,1/1/19,10054672,4073072,14127744
2561,All Australian Airports,2019,2,1/2/19,8926364,3256808,12183172

Calculate the annual passenger movements through each Australian airport by summing the 12 calendar months of passengers movements together.

In [2]:
# create a copy of the dataframe
air_traffic_ndf = air_traffic_df.copy()

# calculate the rolling sum for the domestic, international and total passengers in the pandas dataframe
air_traffic_ndf['Domestic_Passengers'] = air_traffic_ndf['Domestic_Passengers'].rolling(12).sum()
air_traffic_ndf['International_Passengers'] = air_traffic_ndf['International_Passengers'].rolling(12).sum()
air_traffic_ndf['Total_Passengers'] = air_traffic_ndf['Total_Passengers'].rolling(12).sum()

# create a new dataframe containing only the months of December
air_traffic_ndf = air_traffic_ndf[(air_traffic_df.Month == 12)].reset_index(drop=True)
        
# print out the pandas dataframe to screen
air_traffic_ndf

,Airport,Year,Month,Date,Domestic_Passengers,International_Passengers,Total_Passengers
0,Adelaide,2009,12,1/12/09,6340348.0,501399.0,6841747.0
1,Adelaide,2010,12,1/12/10,6758212.0,532392.0,7290604.0
2,Adelaide,2011,12,1/12/11,6438334.0,583073.0,7021407.0
3,Adelaide,2012,12,1/12/12,6416815.0,650077.0,7066892.0
4,Adelaide,2013,12,1/12/13,6574289.0,799585.0,7373874.0
5,Adelaide,2014,12,1/12/14,6731599.0,967265.0,7698864.0
6,Adelaide,2015,12,1/12/15,6799781.0,871388.0,7671169.0
7,Adelaide,2016,12,1/12/16,6995994.0,924179.0,7920173.0
8,Adelaide,2017,12,1/12/17,7148959.0,962975.0,8111934.0
9,Adelaide,2018,12,1/12/18,7320341.0,1025961.0,8346302.0
10,Alice Springs,2009,12,1/12/09,674901.0,0.0,674901.0
11,Alice Springs,2010,12,1/12/10,668844.0,0.0,668844.0
12,Alice Springs,2011,12,1/12/11,598749.0,0.0,598749.0
13,Alice Springs,2012,12,1/12/12,579752.0,0.0,579752.0
14,Alice Springs,2013,12,1/12/13,655245.0,0.0,655245.0
15,Alice Springs,2014,12,1/12/14,621069.0,0.0,621069.0
16,Alice Springs,2015,12,1/12/15,593510.0,0.0,593510.0
17,Alice Springs,2016,12,1/12/16,612174.0,0.0,612174.0
18,Alice Springs,2017,12,1/12/17,618493.0,0.0,618493.0
19,Alice Springs,2018,12,1/12/18,621412.0,0.0,621412.0
20,Ballina,2009,12,1/12/09,318314.0,0.0,318314.0
21,Ballina,2010,12,1/12/10,268889.0,0.0,268889.0
22,Ballina,2011,12,1/12/11,310499.0,0.0,310499.0
23,Ballina,2012,12,1/12/12,346011.0,0.0,346011.0
24,Ballina,2013,12,1/12/13,382347.0,0.0,382347.0
25,Ballina,2014,12,1/12/14,414195.0,0.0,414195.0
26,Ballina,2015,12,1/12/15,454898.0,0.0,454898.0
27,Ballina,2016,12,1/12/16,487923.0,0.0,487923.0
28,Ballina,2017,12,1/12/17,509579.0,0.0,509579.0
29,Ballina,2018,12,1/12/18,538180.0,0.0,538180.0
...,...,...,...,...,...,...,...
180,Sydney,2009,12,1/12/09,22362772.0,10635270.0,32998042.0
181,Sydney,2010,12,1/12/10,24194682.0,11455537.0,35650219.0
182,Sydney,2011,12,1/12/11,23925351.0,11748582.0,35673933.0
183,Sydney,2012,12,1/12/12,24638877.0,12369193.0,37008070.0
184,Sydney,2013,12,1/12/13,25216661.0,12933885.0,38150546.0
185,Sydney,2014,12,1/12/14,25417107.0,13315835.0,38732942.0
186,Sydney,2015,12,1/12/15,25897619.0,13911228.0,39808847.0
187,Sydney,2016,12,1/12/16,26905944.0,15111977.0,42017921.0
188,Sydney,2017,12,1/12/17,27291874.0,16038186.0,43330060.0
189,Sydney,2018,12,1/12/18,27667273.0,16762485.0,44429758.0
190,Townsville,2009,12,1/12/09,1482230.0,0.0,1482230.0
191,Townsville,2010,12,1/12/10,1588750.0,1314.0,1590064.0
192,Townsville,2011,12,1/12/11,1607291.0,9592.0,1616883.0
193,Townsville,2012,12,1/12/12,1609738.0,0.0,1609738.0
194,Townsville,2013,12,1/12/13,1556579.0,0.0,1556579.0
195,Townsville,2014,12,1/12/14,1497841.0,0.0,1497841.0
196,Townsville,2015,12,1/12/15,1500111.0,11123.0,1511234.0
197,Townsville,2016,12,1/12/16,1488000.0,41479.0,1529479.0
198,Townsville,2017,12,1/12/17,1541490.0,48535.0,1590025.0
199,Townsville,2018,12,1/12/18,1594111.0,16187.0,1610298.0
200,All Australian Airports,2009,12,1/12/09,99026178.0,24406900.0,123433078.0
201,All Australian Airports,2010,12,1/12/10,105910734.0,26790315.0,132701049.0
202,All Australian Airports,2011,12,1/12/11,106893796.0,28155009.0,135048805.0
203,All Australian Airports,2012,12,1/12/12,111304458.0,29608992.0,140913450.0
204,All Australian Airports,2013,12,1/12/13,113490928.0,31344516.0,144835444.0
205,All Australian Airports,2014,12,1/12/14,113932942.0,33133088.0,147066030.0
206,All Australian Airports,2015,12,1/12/15,114229352.0,34866649.0,149096001.0
207,All Australian Airports,2016,12,1/12/16,117188602.0,37616753.0,154805355.0
208,All Australian Airports,2017,12,1/12/17,119097148.0,39615707.0,158712855.0
209,All Australian Airports,2018,12,1/12/18,121197572.0,41575313.0,162772885.0

Calculate the fraction change in annual passenger movements at each airport for each December.

In [3]:
import numpy as np

# create a copy of the dataframe
air_traffic_pdf = air_traffic_ndf.copy()

# rename the columns in the pandas dataframe from `passengers' to `growth_rate'
air_traffic_pdf = air_traffic_pdf.rename(index=str, columns={"Domestic_Passengers": "Domestic_Growth_Rate", \
                "International_Passengers": "International_Growth_Rate", "Total_Passengers": "Total_Growth_Rate"})

# calculate the fractional difference between each month
for i in range(0, len(air_traffic_ndf['Domestic_Passengers'])):
    # check the previous line (at i - 1) is for the same Airport as the curent line (at i)
    if i > 0 and air_traffic_ndf['Airport'][i] == air_traffic_ndf['Airport'][i - 1]:
        # calculate the fractional growth rate
        air_traffic_pdf['Domestic_Growth_Rate'][i] = \
                100*(air_traffic_ndf['Domestic_Passengers'][i] - air_traffic_ndf['Domestic_Passengers'][i - 1])\
                        /float(air_traffic_ndf['Domestic_Passengers'][i - 1])
        air_traffic_pdf['International_Growth_Rate'][i] = \
                100*(air_traffic_ndf['International_Passengers'][i] - air_traffic_ndf['International_Passengers'][i - 1])\
                        /float(air_traffic_ndf['International_Passengers'][i - 1])
        air_traffic_pdf['Total_Growth_Rate'][i] = \
                100*(air_traffic_ndf['Total_Passengers'][i] - air_traffic_ndf['Total_Passengers'][i - 1])\
                        /float(air_traffic_ndf['Total_Passengers'][i - 1])
    else:
        air_traffic_pdf['Domestic_Growth_Rate'][i] = np.nan
        air_traffic_pdf['International_Growth_Rate'][i] = np.nan
        air_traffic_pdf['Total_Growth_Rate'][i] = np.nan
        
# print out the pandas dataframe to screen
air_traffic_pdf

,Airport,Year,Month,Date,Domestic_Growth_Rate,International_Growth_Rate,Total_Growth_Rate
0,Adelaide,2009,12,1/12/09,NaN,NaN,NaN
1,Adelaide,2010,12,1/12/10,6.590553,6.181305,6.560561
2,Adelaide,2011,12,1/12/11,-4.733175,9.519489,-3.692383
3,Adelaide,2012,12,1/12/12,-0.334232,11.491529,0.647805
4,Adelaide,2013,12,1/12/13,2.454084,22.998506,4.343946
5,Adelaide,2014,12,1/12/14,2.392806,20.970879,4.407317
6,Adelaide,2015,12,1/12/15,1.012865,-9.912175,-0.359728
7,Adelaide,2016,12,1/12/16,2.885578,6.058266,3.245972
8,Adelaide,2017,12,1/12/17,2.186466,4.197888,2.421172
9,Adelaide,2018,12,1/12/18,2.397300,6.540772,2.889175
10,Alice Springs,2009,12,1/12/09,NaN,NaN,NaN
11,Alice Springs,2010,12,1/12/10,-0.897465,NaN,-0.897465
12,Alice Springs,2011,12,1/12/11,-10.480022,NaN,-10.480022
13,Alice Springs,2012,12,1/12/12,-3.172782,NaN,-3.172782
14,Alice Springs,2013,12,1/12/13,13.021602,NaN,13.021602
15,Alice Springs,2014,12,1/12/14,-5.215759,NaN,-5.215759
16,Alice Springs,2015,12,1/12/15,-4.437349,NaN,-4.437349
17,Alice Springs,2016,12,1/12/16,3.144682,NaN,3.144682
18,Alice Springs,2017,12,1/12/17,1.032223,NaN,1.032223
19,Alice Springs,2018,12,1/12/18,0.471954,NaN,0.471954
20,Ballina,2009,12,1/12/09,NaN,NaN,NaN
21,Ballina,2010,12,1/12/10,-15.527121,NaN,-15.527121
22,Ballina,2011,12,1/12/11,15.474787,NaN,15.474787
23,Ballina,2012,12,1/12/12,11.437074,NaN,11.437074
24,Ballina,2013,12,1/12/13,10.501400,NaN,10.501400
25,Ballina,2014,12,1/12/14,8.329606,NaN,8.329606
26,Ballina,2015,12,1/12/15,9.827014,NaN,9.827014
27,Ballina,2016,12,1/12/16,7.259869,NaN,7.259869
28,Ballina,2017,12,1/12/17,4.438405,NaN,4.438405
29,Ballina,2018,12,1/12/18,5.612672,NaN,5.612672
...,...,...,...,...,...,...,...
180,Sydney,2009,12,1/12/09,NaN,NaN,NaN
181,Sydney,2010,12,1/12/10,8.191784,7.712705,8.037377
182,Sydney,2011,12,1/12/11,-1.113183,2.558108,0.066519
183,Sydney,2012,12,1/12/12,2.982301,5.282433,3.739809
184,Sydney,2013,12,1/12/13,2.345009,4.565310,3.087100
185,Sydney,2014,12,1/12/14,0.794895,2.953096,1.526573
186,Sydney,2015,12,1/12/15,1.890506,4.471316,2.777752
187,Sydney,2016,12,1/12/16,3.893505,8.631510,5.549204
188,Sydney,2017,12,1/12/17,1.434367,6.128973,3.122808
189,Sydney,2018,12,1/12/18,1.375497,4.516091,2.537956
190,Townsville,2009,12,1/12/09,NaN,NaN,NaN
191,Townsville,2010,12,1/12/10,7.186469,inf,7.275119
192,Townsville,2011,12,1/12/11,1.167018,629.984779,1.686662
193,Townsville,2012,12,1/12/12,0.152244,-100.000000,-0.441900
194,Townsville,2013,12,1/12/13,-3.302339,NaN,-3.302339
195,Townsville,2014,12,1/12/14,-3.773532,NaN,-3.773532
196,Townsville,2015,12,1/12/15,0.151551,inf,0.894154
197,Townsville,2016,12,1/12/16,-0.807340,272.911984,1.207292
198,Townsville,2017,12,1/12/17,3.594758,17.011018,3.958603
199,Townsville,2018,12,1/12/18,3.413645,-66.648810,1.275011
200,All Australian Airports,2009,12,1/12/09,NaN,NaN,NaN
201,All Australian Airports,2010,12,1/12/10,6.952259,9.765333,7.508499
202,All Australian Airports,2011,12,1/12/11,0.928199,5.093983,1.769207
203,All Australian Airports,2012,12,1/12/12,4.126210,5.164207,4.342612
204,All Australian Airports,2013,12,1/12/13,1.964405,5.861476,2.783264
205,All Australian Airports,2014,12,1/12/14,0.389471,5.706172,1.540083
206,All Australian Airports,2015,12,1/12/15,0.260162,5.232114,1.380313
207,All Australian Airports,2016,12,1/12/16,2.590621,7.887492,3.829314
208,All Australian Airports,2017,12,1/12/17,1.628611,5.313999,2.524137
209,All Australian Airports,2018,12,1/12/18,1.763622,4.946538,2.558098

Write `pandas` dataframe to a `Microsoft Excel` file named 'Annual_Air_Traffic.csv'.

In [5]:
air_traffic_pdf.to_csv("Annual_Air_Traffic.csv")